## Example values overrides, for deploying an empty Metacat database on a Rancher Desktop cluster.
##
## $ helm install <releasename> oci://ghcr.io/dataoneorg/charts/cnpg --version <version> \
##                              -f ./examples/values-overrides-metacat-rd.yaml

dbName: metacat
#dbUser: defaults to dbName if blank

resources:
  requests:
    cpu: 250m
    memory: 250Mi
  limits:
    cpu: 1
    memory: 1Gi

instances: 1

persistence:
  size: 1Gi
  storageClass: local-path

postgresql:
  ## metacat override to allow password auth:
  pg_hba:
    # TYPE        DATABASE      USER          ADDRESS         METHOD
    - host        metacat       metacat       0.0.0.0/0       password
    - host        metacat       metacat       ::0/0           password
    - host        all           postgres      0.0.0.0/0       password
    - host        all           postgres      ::0/0           password
